.amount-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.amount-title {
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-small);
  color: var(--dark-color1);
}

.error-label {
  margin: 0;
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-small);
  color: var(--error);
}

.input-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.5rem 0.7rem 0.5rem 0.2rem;
  box-sizing: border-box;
  text-align: right;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: var(--light-color2);
  font-size: var(--font-large);
  font-family: var(--font);
  font-weight: 700;
  color: var(--dark-bg);
  letter-spacing: 1px;
  outline-color: var(--main-bg);
  caret-color: var(--main-bg);
}

.input::placeholder {
  color: var(--dark-color2);
  opacity: 1;
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-color2);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-color2);
}

.error {
  border: 2px solid var(--error);
  outline-color: var(--error);
  color: var(--error);
  caret-color: var(--error);
}

.error::placeholder {
  color: var(--error);
  opacity: 1;
}

.error:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--error);
}

.error::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--error);
}

.input-container svg {
  position: absolute;
  padding-left: 1.2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
