.main {
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  border-radius: 1.6rem 1.6rem 0 0;
  padding: 2rem;
}

@media only screen and (min-width: 767px) {
  .main {
    width: 65%;
    display: flex;
    gap: 4rem;
    border-radius: 1.6rem;
  }

  .input-container {
    width: 100%;
  }
}

@media only screen and (min-width: 1550px) {
  .main {
    width: 50%;
    display: flex;
    gap: 4rem;
    border-radius: 1.6rem;
    margin-top: 3rem;
  }
}
