.container {
  width: 100%;
  border-radius: 0.7rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0 0;
  background-color: var(--dark-bg);
  font-family: var(--font);
}

.result {
  width: 100%;
  margin: 0.9rem 0;
  display: flex;
  justify-content: space-between;
  cursor: alias;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description-title {
  margin: 0;
  font-size: var(--font-medium);
  color: var(--light-color1);
  font-weight: 700;
}

.per-person {
  margin: 0;
  font-size: var(--font-small);
  color: var(--dark-color2);
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  margin: 0;
  font-size: clamp(24px, 8vw, 48px);
  color: var(--main-bg);
  font-weight: 700;
}

.btn-container {
  width: 100%;
  margin: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  border: none;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  font-family: var(--font);
  font-size: var(--font-large);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-bg);
  background-color: var(--main-bg);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.btn:active {
  transition: all 0.15s ease-in-out;
  background-color: var(--light-color1);
}

.disabled {
  transition: all 0.25s ease-in-out;
  background-color: hsl(183, 79%, 24%);
  color: hsl(183, 100%, 15%);
  cursor: alias;
}

@media only screen and (min-width: 769px) {
  .container {
    justify-content: space-between;
    padding: 1.8rem 2rem;
    margin: 0;
  }

  .btn:hover {
    transition: all 0.25s ease-in-out;
    background-color: var(--light-color1);
  }

  .disabled:hover {
    transition: all 0.25s ease-in-out;
    background-color: hsl(183, 79%, 24%);
    color: hsl(183, 100%, 15%);
  }
}
