.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  display: none;
}

.radio:checked + .tip-amount {
  transition: all 0.25s ease-in-out;
  background-color: var(--main-bg);
  color: var(--dark-bg);
}

.tip-amount {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  text-align: center;
  font-family: var(--font);
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-bg);
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .tip-amount:hover {
    transition: all 0.25s ease-in-out;
    background-color: var(--light-color1);
    color: var(--dark-bg);
  }
}
