.container {
  margin: 2rem 0;
}

.container p {
  margin: 0;
  font-family: var(--font);
  font-size: var(--font-small);
  color: var(--dark-bg);
  font-weight: 700;
}

.tip-container {
  width: 100%;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.custom-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  display: none;
}

.custom {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.25s ease-in-out;
  background-color: var(--light-color2);
  text-align: right;
  font-size: var(--font-large);
  font-family: var(--font);
  font-weight: 700;
  color: var(--dark-bg);
  letter-spacing: 1px;
  outline-color: var(--main-bg);
  caret-color: var(--main-bg);
}

@media only screen and (min-width: 767px) {
  .tip-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .custom {
    padding: 0.5rem 0.6rem 0.5rem 0.2rem;
  }
}
