.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 2.5rem;
}

@media only screen and (min-width: 767px) {
  .logo {
    font-size: var(--font-medium);
    margin: 3em 2.5em 5em;
  }
}
